{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="yandex-verification" content="a28e1161d7b5c017" />

	<!--<title>{{ title|default("Caviar Garments") }}</title>-->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
	<link href="/styles/site.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

	{# This file provides the default styling for the KeystoneJS Content Editor #}
	{% if user and user.canAccessKeystone %}
	<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
	{% endif %}


	{% if data.post %}
		{% if data.post.meta.title %}
			<title>{{data.post.meta.title}}</title>
			<meta property="og:title" content="{{data.post.meta.title}}">
			<meta name="twitter:title" content="{{data.post.meta.title}}">
		{% else %}
			<title>{{data.post.title}}</title>
			<meta property="og:title" content="{{data.post.title}}">
			<meta name="twitter:title" content="{{data.post.title}}">
		{% endif %}
		{% if data.post.meta.description %}
			<meta name="description" content="{{data.post.meta.description}}">
			<meta property="og:description" content="{{data.post.meta.description}}">
			<meta name="twitter:description" content="{{data.post.meta.description}}">
		{% else %}
			<meta name="description" content="{{ data.post.content.brief}}">
			<meta property="og:description" content="{{ data.post.content.brief}}">
			<meta name="twitter:description" content="{{ data.post.content.brief}}">
		{% endif %}
			<meta property="og:type" content="article">
			<meta name="twitter:card" content="summary_large_image">
			<meta property="og:image" content="{{data.post.image.url}}">
			<meta name="twitter:image:src" content="{{data.post.image.url}}">
			<meta property="og:url" content="{{data.post.fullPostUrl}}">
			<meta name="twitter:url" content="{{data.post.fullPostUrl}}">
			<meta property="article:published_time" content="{{data.post.publishedDate}}">
		{#<!--{% for data.post.categories %}-->
			<!--<meta property="article:tag" content="{{name}}">-->
		<!--{% endfor %}-->
		<!--<meta name="keywords" content="{{# each data.post.categories}}{{name}}, {{/each}}">-->#}
	{% else %}
		<title>Caviar Garments</title>
		<meta name="description" content="Wyjatkowe, zaprojektowane w Polsce ubrania">
		<meta name="keywords" content="ubrania, bluzy, caviar, streetwear, clothing, garments, hoodie, wear">
	{% endif %}
	
	


	{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	Safely remove this block if you are not targeting IE8 #}
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	{# Include template-specific stylesheets by extending the css block #}
	{% block css %}{% endblock %}

	{# Add any other template-specific HEAD tags by extending the head block #}
	{% block head %}{% endblock %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125658294-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-125658294-1');
	</script>
</head>



<body>

<!--POPUP GRAPHIC-->
<div id="popupgraphic">
	<a id="popupgraphic-button">
		ZAMKNIJ
	</a>
</div>

{# HEADER #}
<div id="header" class="container">
	<ul class="header-nav" id="nav-left">
		<li class="nav-element"><a href="/sklep" class="nav-link">sklep</a></li>
		<li class="nav-element"><a class="nav-link" href="/blog">blog</a></li>
		<li class="nav-element"><a class="nav-link" href="https://www.facebook.com/groups/919578591569593/">grupa</a></li>
	</ul>
	<a href="/" class="header-logo-link"><img class="header-logo" src="/images/caviar-logo.svg" alt=""></a>
	<ul class="header-nav" id="nav-right">
		<!--<li class="nav-element">zaloguj się</li>-->
		<li class="nav-element"><a href="/lookbook" class="nav-link">lookbook</a></li>
		<li class="nav-element"><a href="https://www.facebook.com/Caviar-Garments-485412058607839/" class="nav-link">fanpage</a></li>
		<li class="nav-element"><a href="/#contact" class="nav-link">kontakt</a></li>
	</ul>
</div>

{# BODY #}
<div id="body">
	{{ FM.flashMessages(messages) }}
	{% block content %}{% endblock %}
</div>


{# FOOTER #}
<div id="footer" class="container">
	<p class="footer-par footer-left" id="footer-date"></p>
	<p class="footer-par footer-right">MADE WITH <span class="footer-heart">&hearts;</span> BY <a href="https://github.com/WetCouch" class="footer-link">WOJCIECH JANOSZEK</a></p>
</div>







{# JAVASCRIPT #}

{# jQuery 1.11.3 is included by default, and required by both Bootstrap
and the KeystoneJS Content Editor. If you are not targeting IE8,
you can upgrade to 2.1.4 (also bundled) for better performance. #}


{# The KeystoneJS Content Editor provides support for ks-editable data attributes,
which generate links to edit content for users who can access Keystone #}
{% if user and user.canAccessKeystone %}
<script src="/keystone/js/content/editor.js"></script>
{% endif %}

{# Add scripts that are globally required by your site here. #}
<script src="/./js/cookie-checker.js"></script>
<script src="/./js/popupgraphic-close.js"></script>
<script src="/./js/year-checker.js"></script>
{# Include template-specific javascript files by extending the js block #}
{% block js %}{% endblock %}
</body>
</html>
