{% extends "layouts/defaultItem.html" %}

{% block itemImage %}
<a href="../../images/item-handmade.jpg">
	<img src="../../images/item-handmade.jpg" class="item-image">
</a>

<a href="../../images/main-handmade.jpg" class="item-image-hidden">
	<img src="../../images/main-handmade.jpg">
</a>
<a href="../../images/shop-handmade.jpg" class="item-image-hidden">
	<img src="../../images/shop-handmade.jpg">
</a>
{% endblock %}

{% block itemCategory %}
CAVIAR HANDMADE
{% endblock %}

{% block itemTitle %}
Painted By Hand Tee
{% endblock %}

{% block itemDesc %}
Coś zupełnie unikatowego. <br>
Ręcznie przez nas malowane koszulki, według Waszych pomysłów. Każdy model zupełnie wyjątkowy.
{% endblock %}

{% block itemInfo %}
Koszulka ręcznie malowana farbami do odzieży.
{% endblock %}

{% block fabric %}
100% bawełna
{% endblock %}

{% block grammage %}
190 g/m&sup2;
{% endblock %}


{% block sizeS %} 46cm x 66,5cm {% endblock %}
{% block sizeM %} 51cm x 69cm {% endblock %}
{% block sizeL %} 56cm x 71,5cm {% endblock %}
{% block sizeXL %} 61cm x 74cm {% endblock %}

{% block itemPrice %}
80 zł
{% endblock %}

{% block handmadeInfo %}
Chcesz zamówić ręcznie malowaną koszulkę? Określ rozmiar oraz to, co chciałbyś na niej umieścić i złóż zamówienie na
<a href="mailto:handmade@caviargarments.com" class="item-handmade-info-mail">handmade@caviargarments.com</a>
{% endblock %}

{% block itemBuy %}
<a href="mailto:handmade@caviargarments.com" class="item-buy">ZAMÓW</a>
{% endblock  %}

{% block itemComment %}
Sprzedaż ręcznie malowanych koszulek Caviar Handmade wymaga indywidualnego kontaktu z każdym klientem, dlatego odbywa się poprzez kontakt mailowy. <br>
handmade@caviargarments.com
{% endblock %}
