{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<div class="jumbotron-container">
			<p class="jumbotron-date" id="date-month"></p>
			<h1 class="jumbotron-header">PÓJDŹ O KROK DALEJ. </br>
			DOŁĄCZ DO KOLEKTYWU </br>
			KLIENTÓW CAVIAR GARMENTS.</h1>
			</div>
		</div>
		<div class="lines">
			<div class="lines-section">
				<div id="lines-primal" class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR PRIMAL</h3>
					<p class="lines-text">To tutaj się zaczęło. Prostota i minimalizm pomagają zachować czystość umysłu.
						Projekty linii „Primal” to połączenie prostoty i minimalizmu z przesłaniem danej kolekcji.
						Są dowodem na to, że każdy wzór - nawet niewielki i nieskomplikowany - może zostać nacechowany wartościowym przekazem. </p>
					<a href="/sklep" class="lines-button">SKLEP</a>
				</div>
			</div>

			<div class="lines-section section-reversed">
				<div id="lines-prime" class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR PRIME</h3>
					<p class="lines-text">Pójdź o krok dalej. Niekiedy mamy potrzebę wyrazić się w sposób bardziej złożony.
						Wzbogacone wizualnie wzory okraszone autorskimi interpretacjami - to właśnie linia „Prime”.</p>
					<a href="/sklep" class="lines-button">SKLEP</a>
				</div>
			</div>

			<div class="lines-section">
				<div id="lines-handmade" class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR HANDMADE</h3>
					<p class="lines-text">Wzory powstające na specjalne okazje przy użyciu dłoni, pędzla oraz zestawu profesjonalnych farb.</p>
					<a href="/handmade" class="lines-button">WIĘCEJ</a>
				</div>
			</div>
		</div>

		<hr class="section-line">

		<div class="about">
			<div class="about-section">
				<div class="about-sidetitle">
					<h3 class="about-title">KIM JESTEŚMY?</h3>
				</div>
				<div class="about-sidetext">
					<p class="about-text">Jesteśmy zespołem ludzi dla których na równi z dopracowanymi wzorami i atrakcyjnie prezentującymi się produktami stoi również zawarta w nich myśl.
						Chcemy przekazać Wam nasze idee, podzielić się z Wami nieco innym spojrzeniem na świat. Niekiedy pragniemy także zwrócić Waszą uwagę na wartości, które zdają się gubić się w dzisiejszym, szybko postępującym świecie.
					</p>
				</div>
			</div>
		</div>

		<div class="about">
			<div class="about-section section-reversed">
				<div class="about-sidetitle">
					<h3 class="about-title">DLACZEGO WARTO KUPIĆ NASZ PRODUKT?</h3>
				</div>
				<div class="about-sidetext">
					<p class="about-text">Starannie zaprojektowane przez nas samych ubrania powstają w Polsce z dokładnie wyselekcjonowanych materiałów.
						Każda kolekcja niesie ze sobą myśl przewodnią, a każdy projekt swoistą wartość.
						Chcemy tworzyć ubrania, mogące nie tylko wzbogacić Waszą garderobę, ale także sposób postrzegania świata.
						To coś więcej niż zwykłe paski materiału - to przeżycia, emocje, idee i wartości.
						Dlatego Caviar Garments jest świetną propozycją dla osób, którym przypadnie do gustu estetyka naszego produktu, jak i dla tych, którzy poprzez nasze projekty znajdą również sposób na wyrażenie samego siebie.
					</p>
				</div>
			</div>
		</div>

		<img src="../../images/bottom-jumbotron.png" alt="" class="end-photo">
		<h4 class="end-title">DOŁĄCZ DO KOLEKTYWU. <br> DOSTRZEŻ UBRANIA CAVIAR GARMENTS Z WŁASNEJ, WYJĄTKOWEJ PERSPEKTYWY W NASZYM <a class="title-link" href="./sklep">SKLEPIE</a></h4>

		<hr class="section-line">

		<h5 class="contact" id="contact">Skontaktuj się z nami: <br> <a href="mailto:contact@caviargarments.com" class="contact-link">contact@caviargarments.com</a></h5>

	</div>
{% endblock %}

{% block js %}
	<script src="./js/month-checker.js"></script>
{% endblock %}
