{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<div class="jumbotron-container">
			<p class="jumbotron-date">CZERWIEC 15</p>
			<h1 class="jumbotron-header">STAŃ SIĘ WYJĄTKOWY. </br>
			DOŁĄCZ DO KOLEKTYWU </br>
			KLIENTÓW CAVIAR CLOTHING.</h1>
			</div>
		</div>
		<div class="lines">
			<div class="lines-section">
				<div class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR PRIMAL</h3>
					<p class="lines-text">To tutaj się zaczęło. Prostota i minimalizm są kluczem do wolności umysłu,
										  a wsparte najwyższą jakością naszych haftów pozwolą Ci stać się naprawdę wyjątkowym.</p>
					<a href="/sklep" class="lines-button">SKLEP</a>
				</div>
			</div>
			<div class="lines-section section-reversed">
				<div class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR PRIME</h3>
					<p class="lines-text">Pójdź o krok dalej. Jedyne w swoim rodzaju wzory naszych najlepszych artystów,
						okraszone autorskimi interpretacjami wyniosą Cię na jeszcze wyższy poziom.</p>
					<a href="/sklep" class="lines-button">SKLEP</a>
				</div>
			</div>
		</div>
		
		<hr class="section-line">
		
		<div class="about">
			<div class="about-section">
				<div class="about-sidetitle">
					<h3 class="about-title">KIM JESTEŚMY?</h3>
				</div>
				<div class="about-sidetext">
					<p class="about-text">Jesteśmy grupą młodych ludzi z ambicjami, którzy chcą dać Wam wyjątkowe, ręcznie zaprojektowane przez nas ubrania.<br>
					Chcemy przekazać Wam nasze idee i pokazać wyjątkowe pomysły. Pragniemy podzielić się z Wami trochę innym spojrzeniem na świat i sprawić, by oczywiste stało się bardziej nieoczywistym.</p>
				</div>
			</div>
		</div>

		<div class="about">
			<div class="about-section section-reversed">
				<div class="about-sidetitle">
					<h3 class="about-title">DLACZEGO WARTO KUPIĆ NASZ PRODUKT?</h3>
				</div>
				<div class="about-sidetext">
					<p class="about-text">Nasze ubrania nie tylko są szyte w Polsce z najwyższej jakości materiałów, ale też starannie przez nas samych projektowane. <br>
						To coś więcej niż zwykłe paski materialu - to są emocje, idee, sposób patrzenia, a nawet pewien styl życia <br>
					    Dlatego właśnie nie ma lespzego sposobu na wyrażenie siebie samego, niż poprzez Caviar Garments.</p>
				</div>
			</div>
		</div>

		<img src="../../images/chuttersnap-265339-unsplash.jpg" alt="" class="end-photo">
		<h4 class="end-title">DOŁĄCZ DO KOLEKTYWU. <br> ZOBACZ NAJWYŻSZZEJ JAKOŚCI UBRANIA W NASZYM <a class="title-link" href="./sklep">SKLEPIE</a></h4>
		
	</div>
{% endblock %}
