{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<div class="jumbotron-container">
			<p class="jumbotron-date" id="date-month"></p>
			<h1 class="jumbotron-header">PÓJDŹ O KROK DALEJ. </br>
			DOŁĄCZ DO KOLEKTYWU </br>
			KLIENTÓW CAVIAR GARMENTS.</h1>
			</div>
		</div>
		<div class="lines">
			<div class="lines-section">
				<div id="lines-primal" class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR PRIMAL</h3>
					<p class="lines-text">To tutaj się zaczęło. Prostota i minimalizm są kluczem do wolności umysłu,
										  a wsparte najwyższą jakością naszych haftów pozwolą Ci stać się naprawdę wyjątkowym.</p>
					<a href="/sklep" class="lines-button">SKLEP</a>
				</div>
			</div>
			
			<div class="lines-section section-reversed">
				<div id="lines-prime" class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR PRIME</h3>
					<p class="lines-text">Pójdź o krok dalej. Jedyne w swoim rodzaju wzory naszych najlepszych artystów,
						okraszone autorskimi interpretacjami wyniosą Cię na jeszcze wyższy poziom.</p>
					<a href="/sklep" class="lines-button">SKLEP</a>
				</div>
			</div>
			
			<div class="lines-section">
				<div id="lines-handmade" class="lines-sideimage"></div>
				<div class="lines-sidetext">
					<h3 class="lines-header">CAVIAR HANDMADE</h3>
					<p class="lines-text">Chcąc dać Wam od siebie jeszcze więcej, postanowiliśmy zrobić coś zupełnie unikatowego. <br>
						Wzory powstające przy użyciu dłoni, pędzla oraz zestawu profesjonalnych farb.
						Ręcznie zdobiona koszulka? Czy może ręcznie zdobiona koszulka z dedykacją według Waszego pomysłu?
						Wybór należy do Ciebie.</p>
					<a href="/handmade" class="lines-button">WIĘCEJ</a>
				</div>
			</div>
		</div>
		
		<hr class="section-line">
		
		<div class="about">
			<div class="about-section">
				<div class="about-sidetitle">
					<h3 class="about-title">KIM JESTEŚMY?</h3>
				</div>
				<div class="about-sidetext">
					<p class="about-text">Jesteśmy zespołem ludzi z ambicjami, którzy chcą dać Wam wyjątkowe, zaprojektowane przez nas ubrania.<br>
						Chcemy przekazać Wam nasze idee i pokazać wyjątkowe pomysły. Pragniemy podzielić się z Wami nieco innym spojrzeniem na świat i sprawić, by to, co oczywiste, stało się bardziej nieoczywiste.</p>
				</div>
			</div>
		</div>

		<div class="about">
			<div class="about-section section-reversed">
				<div class="about-sidetitle">
					<h3 class="about-title">DLACZEGO WARTO KUPIĆ NASZ PRODUKT?</h3>
				</div>
				<div class="about-sidetext">
					<p class="about-text">Nasze ubrania nie tylko są szyte w Polsce z dokładnie wyselekcjonowanych materiałów, ale też starannie przez nas samych projektowane.
						To coś więcej niż zwykłe paski materialu - to przeżycia, emocje, idee, sposób patrzenia, a nawet pewien styl życia.<br>
						Dlatego właśnie nie ma lepszego sposobu na wyrażenie siebie samego, niż poprzez Caviar Garments. Mamy nadzieję, że znajdziecie u nas swój produkt idealny.</p>
				</div>
			</div>
		</div>

		<img src="../../images/bottom-jumbotron.jpg" alt="" class="end-photo">
		<h4 class="end-title">DOŁĄCZ DO KOLEKTYWU. <br> DOSTRZEŻ UBRANIA CAVIAR GARMENTS Z WŁASNEJ, WYJĄTKOWEJ PERSPEKTYWY W NASZYM <a class="title-link" href="./sklep">SKLEPIE</a></h4>

		<hr class="section-line">
		
		<h5 class="contact" id="contact">Skontaktuj się z nami: <br> <a href="mailto:contact@caviargarments.com" class="contact-link">contact@caviargarments.com</a></h5>
		
	</div>
{% endblock %}

{% block js %}
	<script src="./js/month-checker.js"></script>
{% endblock %}
