{% extends "layouts/default.html" %}

{% block content %}
	<div class="post-container">
				<article>
					{% if not data.post %}
						<h2>Invalid Post.</h2>
					{% else %}
						{% if data.post.image.exists %}
						<img src="{{ data.post._.image.fit(1920,1080) }}" class="post-image">
						<header class="post-heading">
							<div class="post-info">
								{% if data.post.author %}
									{{ data.post.author.name.first }},
								{% endif %}
								{% if data.post.publishedDate %}
									{{ data.post._.publishedDate.format("DD.MM.YYYY") }}
								{% endif %}
								{% if data.post.categories and data.post.categories.length %}
								{% for cat in data.post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < data.post.categories.length %}, {% endif %}{% endfor %}
								{% endif %}
							</div>
							<h1 class="post-title" >{{ data.post.title }}</h1>
						</header>
						<div class="post-text">
							{% endif %}
							{{ data.post.content.full|safe }}
						</div>
					{% endif %}
				</article>
	</div>
{% endblock %}
