{% extends "layouts/default.html" %}

{% block content %}
	<div class="post-container">
				<article>
					{% if not data.post %}
						<h2>Invalid Post.</h2>
					{% else %}
						{% if data.post.image.exists %}
						<img src="{{ data.post._.image.fit(1920,1080) }}" class="post-image">
						<header class="post-heading">
							<div class="post-info">
								{% if data.post.author %}
									{{ data.post.author.name.first }},
								{% endif %}
								{% if data.post.publishedDate %}
									{{ data.post._.publishedDate.format("DD.MM.YYYY") }}
								{% endif %}
								{% if data.post.categories and data.post.categories.length %}
								{% for cat in data.post.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < data.post.categories.length %}, {% endif %}{% endfor %}
								{% endif %}
							</div>
							<h1 class="post-title" >{{ data.post.title }}</h1>
						</header>
						<div class="post-text">
							{% endif %}
							{{ data.post.content.full|safe }}
						</div>
					{% endif %}
				</article>

		<div id="disqus_thread"></div>
		<script>
			
            var disqus_config = function () {
            this.page.url = '{{data.post.fullPostUrl}}';
            this.page.identifier = '{{data.post.slug}}';
            };
            
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://caviargarments.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		
	</div>
{% endblock %}
