{% extends "layouts/defaultItem.html" %}

{% block itemImage %}
<a href="../../images/item-primal.jpg">
	<img src="../../images/item-primal.jpg" class="item-image">
</a>

<a href="../../images/main-primal.jpg" class="item-image-hidden">
	<img src="../../images/main-primal.jpg">
</a>
<a href="../../images/shop-primal.jpg" class="item-image-hidden">
	<img src="../../images/shop-primal.jpg">
</a>
{% endblock %}

{% block itemCategory %}
CAVIAR PRIMAL
{% endblock %}

{% block itemTitle %}
Praise The Money Hoodie
{% endblock %}

{% block itemDesc %}
To tutaj się zaczęło. Prostota i minimalizm są kluczem do wolności umysłu,
a wsparte najwyższą jakością naszych haftów pozwolą Ci stać się naprawdę wyjątkowym.
{% endblock %}

{% block itemPrice %}
160 zł
{% endblock %}
