{% extends "layouts/defaultItem.html" %}

{% block itemImage %}
<a href="../../images/item-prime.jpg">
	<img src="../../images/item-prime.jpg" class="item-image">
</a>
<a href="../../images/main-prime.jpg" class="item-image-hidden">
	<img src="../../images/main-prime.jpg">
</a>
<a href="../../images/shop-prime.jpg" class="item-image-hidden">
	<img src="../../images/shop-prime.jpg">
</a>
{% endblock %}

{% block itemCategory %}
CAVIAR PRIME
{% endblock %}

{% block itemTitle %}
Purpose Hoodie
{% endblock %}

{% block itemDesc %}
Pogoń za sławą i pieniędzmi bez względu na koszty, oto jedyne marzenia i cele jakie pozostały ludzkości. <br>
Witamy w naszym społeczeństwie.
{% endblock %}

{% block itemPrice %}
180 zł
{% endblock %}
