{% extends "layouts/defaultItem.html" %}

{% block itemImage %}
<a href="../../images/item-prime.jpg">
	<img src="../../images/item-prime.jpg" class="item-image">
</a>
<a href="../../images/main-prime.jpg" class="item-image-hidden">
	<img src="../../images/main-prime.jpg">
</a>
<a href="../../images/shop-prime.jpg" class="item-image-hidden">
	<img src="../../images/shop-prime.jpg">
</a>
{% endblock %}

{% block itemCategory %}
CAVIAR PRIME
{% endblock %}

{% block itemTitle %}
Purpose Hoodie
{% endblock %}

{% block itemDesc %}
Pójdź o krok dalej. Jedyne w swoim rodzaju wzory naszych najlepszych artystów,
okraszone autorskimi interpretacjami wyniosą Cię na jeszcze wyższy poziom.
{% endblock %}

{% block itemPrice %}
180 zł
{% endblock %}
