{% extends "layouts/defaultItem.html" %}

{% block itemImage %}
<a href="../../images/item-primal.jpg">
	<img src="../../images/item-primal.jpg" class="item-image">
</a>

<a href="../../images/main-primal.jpg" class="item-image-hidden">
	<img src="../../images/main-primal.jpg">
</a>
<a href="../../images/shop-primal.jpg" class="item-image-hidden">
	<img src="../../images/shop-primal.jpg">
</a>
{% endblock %}

{% block itemCategory %}
CAVIAR PRIMAL
{% endblock %}

{% block itemTitle %}
Oligarch Hoodie
{% endblock %}

{% block itemDesc %}
Minimalizm jest kluczem do szczęścia w świecie opartym o fałszywe wartości. <br>
Czemu by tego wszystkiego trochę nie uprościć?
{% endblock %}

{% block itemPrice %}
160 zł
{% endblock %}
