{% extends "layouts/default.html" %}

{% block content %}

<div class="shop-container">
	<!--<div id="earlypass" class="earlypass">-->
		<!--<div class="earlypass-popup">-->
			<!--<h3 class="popup-header">Przedpremierowy dostęp</h3>-->
			<!--<p class="popup-desc">Przedpremierowy dostęp do nowej kolekcji dostępny jest tylko dla członków grupy CAVIAR COLLECTIVE. Podaj kod aby wejść do sklepu.</p>-->
			<!--<input id="code" class="popup-code" type="text"><br>-->
			<!--<button id="submit" class="popup-submit" onclick="checkCode()">WYŚLIJ</button>-->
			<!--<p id="error" class="popup-error">kod nieprawidłowy</p>-->
		<!--</div>-->
	<!--</div>-->


	<div id="shop-blur" class="store">
		<h3 class="shop-free-shipping">Darmowa dostawa powyżej 200zł</h3>

		<div class="ecwid-store">
			<div id="my-store-16084038"></div>
			<div>
				<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?16084038&data_platform=code&data_date=2019-01-10" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-16084038");</script>
			</div>
		</div>
	</div>


	<!--<div id="shop-blur" class="shop-test">-->
		<!--<div onclick="location.href='/prime'" class="shop-category">-->
			<!--<h2 class="shop-title">CAVIAR PRIME</h2>-->
			<!--<img src="../../images/shop-prime.jpg" alt="" class="shop-image">-->
			<!--<p class="shop-desc">Pójdź o krok dalej. Jedyne w swoim rodzaju wzory naszych najlepszych artystów, okraszone autorskimi interpretacjami wyniosą Cię na jeszcze wyższy poziom.</p>-->
		<!--</div>-->
		<!--<div onclick="location.href='/primal'" class="shop-category">-->
			<!--<h2 class="shop-title">CAVIAR PRIMAL</h2>-->
			<!--<img src="../../images/shop-primal.jpg" alt="" class="shop-image">-->
			<!--<p class="shop-desc">To tutaj się zaczęło. Prostota i minimalizm są kluczem do wolności umysłu, a wsparte najwyższą jakością naszych haftów pozwolą Ci stać się naprawdę wyjątkowym.</p>-->
		<!--</div>-->
		<!--<div onclick="location.href='/handmade'" class="shop-category">-->
			<!--<h2 class="shop-title">CAVIAR HANDMADE</h2>-->
			<!--<img src="../../images/shop-handmade.jpg" alt="" class="shop-image">-->
			<!--<p class="shop-desc">Chcąc dać Wam od siebie jeszcze więcej, postanowiliśmy postawić na coś zupełnie unikatowego.-->
				<!--Wzory powstające przy użyciu dłoni, pędzla oraz zestawu profesjonalnych farb. Ręcznie zdobiona koszulka? Czy może ręcznie zdobiona koszulka z dedykacją według Waszego pomysłu? Wybór należy do Was.</p>-->
		<!--</div>-->
	<!--</div>-->
</div>

{% endblock %}


{% block js %}
<!--<script src="./js/earlypass.js"></script>-->
{% endblock %}
