{% extends "layouts/default.html" %}

{% block content %}

<div class="shop">
	<div onclick="location.href='/prime'" class="shop-category">
		<h2 class="shop-title">CAVIAR PRIME</h2>
		<img src="../../images/shop-prime.jpg" alt="" class="shop-image">
		<p class="shop-desc">Pójdź o krok dalej. Jedyne w swoim rodzaju wzory naszych najlepszych artystów, okraszone autorskimi interpretacjami wyniosą Cię na jeszcze wyższy poziom.</p>
	</div>
	<div onclick="location.href='/primal'" class="shop-category">
		<h2 class="shop-title">CAVIAR PRIMAL</h2>
		<img src="../../images/shop-primal.jpg" alt="" class="shop-image">
		<p class="shop-desc">To tutaj się zaczęło. Prostota i minimalizm są kluczem do wolności umysłu, a wsparte najwyższą jakością naszych haftów pozwolą Ci stać się naprawdę wyjątkowym.</p>
	</div>
</div>

{% endblock %}
