.counter {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }

  &__value {
    font-size: 32px;
    margin: 0 8px;
    padding: 8px;
    background-color: #2b2728;
    color: white;
  }

  &__mark {
    font-size: 32px;
    margin: 0 4px;
    color: #2b2728;
    line-height: 40px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 16px;
    color: #2b2728
  }
}
