#footer {
  padding: 2%;
  letter-spacing: 4px;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  .footer-heart {
	color: red;
  }
  .footer-link {
	letter-spacing: 6px;
	color: #30c1fd;
	text-decoration: none;
	font-weight: 600;
  }
}

@media screen and (max-width: 800px) {
  #footer {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% 0;
	text-align: center;
	.footer-par {
	  margin-top: 5%;
	  line-height: 150%;
	}
  }
}
