.header-nav {
  font-size: 1.2em;
  letter-spacing: 3px;
  display: inline-block;
  padding: 5%;
  width: 25%;
  margin-bottom: 5%;
}

#nav-right {
  float: right;
}

.nav-element {
  display: inline-block;
  padding: 3%;
  .nav-link {
	text-decoration: none;
	color: black;
  }
  .nav-link:hover {
	color: #30c1fd;
  }
}

.header-logo {
  left: 50%;
  transform: translate(-50%, 0);
  width: 22%;
  position: absolute;
}
