.post-container {
  margin-top: 2%;
  width: 100%;
  
  .post-image {
	width: 100%;
  }
  
  .post-heading {
	text-align: center;
	margin-top: 5%;

	.post-info {
	  font-size: 0.9em;
	  letter-spacing: 4px;
	  font-weight: 600;
	}

	.post-title {
	  margin-top: 3%;
	  font-size: 1.6em;
	  text-transform: uppercase;
	  letter-spacing: 7px;
	  line-height: 150%;
	}
  }
  
  .post-text {
	width: 65%;
	margin: 5% auto;
	letter-spacing: 2px;
	line-height: 125%;
  }
}
