
.shop-container {
  position: relative;
  .earlypass {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	.earlypass-popup {
	  width: 30%;
	  margin: 15% auto;
	  background-color: white;
	  padding: 2%;
	  box-shadow: 10px 10px 35px 4px rgba(168,168,168,1);
	  .popup-header {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.2em;
		letter-spacing: 2px;
		color: #2b2728;
	  }
	  .popup-desc {
		margin-top: 3%;
		color: #545252;
		text-align: center;
		line-height: 130%;
	  }
	  .popup-code {
		display: block;
		margin: 7% auto;
		color: #545252;
		letter-spacing: 2px;
		padding: 1%;
		font-size: 1.2em;
		border: 1px solid black;
	  }
	  .popup-submit {
		display: block;
		background-color: black;
		border: none;
		color: white;
		padding: 2% 3%;
		font-size: 0.9em;
		margin: 0 auto;
		transition: 0.5s;
	  }
	  .popup-submit:hover {
		color: black;
		background-color: white;
		border: 1px solid black;
		cursor: pointer;
	  }
	  .popup-error {
		text-align: center;
		letter-spacing: 2px;
		color: #cb2027;
		margin-top: 5%;
		display: none;
	  }

	}
  }

  .store {
	min-height: 70vh;
	filter: blur(5px);
	
	.shop-free-shipping {
	  text-align: center;
	  letter-spacing: 3px;
	  font-size: 1.05em;
	  margin-bottom: 2%;
	  margin-top: 5%;
	}

	.ecwid-store {
	  width: 75%;
	  margin: 0 auto;
	}

	.store-handmade-info {
	  text-align: center;
	  width: 75%;
	  margin: 5% auto;

	  .store-handmade-title {
		letter-spacing: 3px;
		font-size: 1.4em;
	  }

	  .store-handmade-desc {
		letter-spacing: 1px;
		line-height: 130%;
		margin-top: 5%;
		.store-handmade-mail {
		  text-decoration: none;
		  letter-spacing: 3px;
		  color: #30c1fd;
		  word-wrap: break-word;
		}
	  }

	  .store-handmade-more {
		text-decoration: none;
		color: #30c1fd;
		border: 1px solid #30c1fd;
		letter-spacing: 3px;
		font-size: 1.1em;
		padding: 1%;
		margin-top: 2%;
		display: inline-block;
		transition: 0.5s;
	  }

	  .store-handmade-more:hover {
		color: white;
		background-color: #30c1fd;
	  }
	}

  //.shop-test {
	//filter: blur(5px);
	//display: flex;
	//flex-direction: row;
	//justify-content: space-around;
	//margin-top: 5%;
	//min-height: 70vh;
	//.shop-category {
	//  width: 25%;
	//  cursor: pointer;
	//  .shop-title {
	//	letter-spacing: 3px;
	//	font-size: 1.2em;
	//	text-align: center;
	//  }
	//  .shop-image {
	//	width: 100%;
	//	margin-top: 10%;
	//	transition: 0.5s;
	//  }
	//  .shop-image:hover {
	//	transform: scale(1.125);
	//  }
	//  .shop-desc {
	//	letter-spacing: 1px;
	//	line-height: 130%;
	//	margin-top: 10%;
	//  }
	//}
  //}
}

}

@media screen and (max-width: 800px) {
  .shop-container {
	.earlypass {
	  .earlypass-popup {
		position: sticky;
		position: -webkit-sticky;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 100%;
		width: 80%;
		padding: 5%;
	  }
	}

	.store {
	  .shop-free-shipping {
		margin-bottom: 10%;
	  }
	  .store-handmade-info {
		width: 85%;
		.store-handmade-desc {
		  margin-top: 10%;
		}
		.store-handmade-more {
		  margin-top: 10%;
		  padding: 3%;
		}
	  }
	}
	
	//.shop-test {
	//  flex-direction: column;
	//  align-items: center;
	//  .shop-category {
	//	width: 90%;
	//	margin: 15% 0;
	//  }
	//}
  }
  

}
