.shop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  min-height: 70vh;
  .shop-category {
	width: 30%;
	cursor: pointer;
	.shop-title {
	  letter-spacing: 3px;
	  font-size: 1.2em;
	  text-align: center;
	}
	.shop-image {
	  width: 100%;
	  margin-top: 10%;
	  transition: 0.5s;
	}
	.shop-image:hover {
	  transform: scale(1.125);
	}
	.shop-desc {
	  letter-spacing: 1px;
	  line-height: 130%;
	  margin-top: 10%;
	}
  }
}

@media screen and (max-width: 800px) {
  .shop {
	flex-direction: column;
	align-items: center;
	.shop-category {
	  width: 90%;
	  margin: 15% 0;
	}
  }
}
