/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: 'Lato', sans-serif; }

.header-nav {
  font-size: 1.2em;
  letter-spacing: 3px;
  display: inline-block;
  padding: 2%;
  width: 35%; }

#nav-right {
  float: right; }

.nav-element {
  display: inline-block;
  padding: 3%; }

.jumbotron {
  background-image: url("../../images/ian-dooley-347950.jpg");
  width: 90%;
  height: 70vh;
  margin: 5% auto 5% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative; }
  .jumbotron .jumbotron-container {
    position: absolute;
    bottom: 0;
    padding: 2%;
    width: 100%; }
    .jumbotron .jumbotron-container .jumbotron-date {
      letter-spacing: 5px;
      padding-left: 2%;
      font-size: 0.9em; }
    .jumbotron .jumbotron-container .jumbotron-header {
      padding: 2%;
      letter-spacing: 8px;
      line-height: 1.8;
      font-size: 1.1em; }

.lines {
  min-height: 100vh;
  width: 80%;
  margin: 15% auto 0 auto; }
  .lines .lines-section {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    justify-content: space-around; }
    .lines .lines-section .lines-sideimage {
      width: 35vw;
      height: 35vh;
      background-color: black; }
    .lines .lines-section .lines-sidetext {
      width: 35%;
      padding: 0 3%;
      display: flex;
      flex-direction: column; }
      .lines .lines-section .lines-sidetext .lines-header {
        font-weight: 700;
        letter-spacing: 10px;
        font-size: 1.4em; }
      .lines .lines-section .lines-sidetext .lines-text {
        letter-spacing: 5px;
        margin-top: 15%;
        line-height: 250%; }
      .lines .lines-section .lines-sidetext .lines-button {
        letter-spacing: 2px;
        color: #30c1fd;
        padding: 3%;
        width: 20%;
        text-align: center;
        border: 1px solid #30c1fd;
        margin: 15% auto 0 auto;
        text-decoration: none;
        transition: 0.5s; }
      .lines .lines-section .lines-sidetext .lines-button:hover {
        background-color: #30c1fd;
        color: white; }
  .lines .section-reversed {
    flex-direction: row-reverse; }
    .lines .section-reversed .lines-header {
      text-align: right; }
    .lines .section-reversed .lines-text {
      text-align: right; }

.section-line {
  width: 65%;
  border-top: 3px solid #2b2728; }

.about {
  width: 80%;
  margin: 15% auto 0 auto; }
  .about .about-section {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    justify-content: space-around; }
    .about .about-section .about-sidetitle {
      width: 50%;
      height: 100%;
      margin: auto 0; }
      .about .about-section .about-sidetitle .about-title {
        font-weight: 700;
        letter-spacing: 10px;
        font-size: 1.6em;
        line-height: 150%;
        text-align: center; }
    .about .about-section .about-sidetext {
      width: 45%;
      padding: 0 3%; }
      .about .about-section .about-sidetext .about-text {
        letter-spacing: 4px;
        margin-top: 12%;
        line-height: 220%; }
  .about .section-reversed {
    flex-direction: row-reverse; }

.end-photo {
  width: 80%;
  margin: 15% auto 5% auto;
  display: block; }

.end-title {
  width: 70%;
  text-align: center;
  font-size: 1.55em;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 5px;
  margin: 0 auto 5% auto; }
  .end-title .title-link {
    text-decoration: none;
    color: #30c1fd; }

#footer {
  padding: 2%;
  letter-spacing: 4px;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between; }
  #footer .footer-heart {
    color: red; }
  #footer .footer-link {
    letter-spacing: 6px;
    color: #30c1fd;
    text-decoration: none;
    font-weight: 600; }
